.article-change{
    font-size: 14px;
    float: right;
    padding: 5px;
}

.add-article-button{
    text-align: center;
}

.auth-window{
    display: inline-block;
    text-align: center;
        background-color: white;
        border: 1px solid black;
        margin-top: 15%;
        padding: 20px;
}

.error-text{
    color: red;
}
